
body {
  margin: 0;
}

.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.stick {
  position: sticky;
  top: 0;
}

#Prob, #Coin, #Team, #TopPage {
  position: absolute;
  margin-top: -84px;
}

.header {
  background-color: rgb(0, 119, 101);
  padding-bottom: 84px;
}

.logo {
  box-sizing: border-box;
  float: left;
  text-align: center;
  margin-top: 20px;
  margin-left: 55px;
  background-color: rgb(0, 119, 101);
}

nav {
  float: right;
  box-sizing: border-box;
  display: inline-block;
  padding: 26px 55px 30px 0px;
  background-color: rgb(0, 119, 101);
}

ul {  
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;

  font-family: Roboto, sans-serif;
  font-style: normal; 
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: white;  
}

li {
  display: inline-block;
}

.slash {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF; 
  display: inline-block;
}

.hero {
  clear: both;
  padding-top: 160px;
  padding-bottom: 160px;
  background-image:url('../img/Background1.png');
  background-size: cover;
  background-position: center center;'..
  color: #fff;
}

.hero_msg {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 84px;
text-align: center;
color: #FFFFFF;
}

h1 {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 75px;
text-align: center;
color: #007765;
margin: 10px;
}

p {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
color: #000000;
padding: 0;
}

.hero_msg2 {
font-family: Roboto, sans-serif;
font-style: italic;
font-weight: 500;
font-size: 48px;
line-height: 56px;
text-align: center;
color: #FFFFFF;
}

.hero2 {
padding-top: 128px;
padding-bottom: 128px;
background-image:url('../img/Background2.png');
background-size: cover;
background-position: center center;
color: #fff;
}

.img {
  float: left;
  padding-right: 48px;
}

.name {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
color: #007765;
width: 218px;
text-align: center;
}

.pos {
font-family: Roboto, sans-serif;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.img_name {
margin-bottom: 12px;
}

.team_mem_mid {
box-sizing: border-box;
text-align: center;
display: inline-block;
margin: 15px 29px 15px 30px;
width: 350px;
height: 283px;
padding: 0px 25px;


}

.team_mem_side {
box-sizing: border-box;
text-align: center;
display: inline-block;
width: 350px;
height: 283px;
padding: 0px 25px;
margin: 0px;
}

.back2 {
background-color: #EEEEEE;
}

footer {
background: #333333;

}

.foot_msg {

box-sizing: border-box;
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
margin-left: 285px;
margin-right: 284px;
color: #FFFFFF;
padding-top: 48px;
padding-bottom: 64px;
max-width: 540px;
}













